<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/master">
<head>
    <title>Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Payroll Department</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

</div>

</body>
</html>